.app {
  height: 100%;
  width: 100%;
}

.range-display {
  display: flex;
  flex-direction: column;
  color: grey;
  margin: 30px;
  margin-top: 0px;
}

.legal {
  color: gray;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
