.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.input-text,
.dollar-sign-display {
  font-size: xx-large;
}

.input-field {
  font-size: xx-large;
  margin: 5px;
}

.credit-score-input-field {
  width: 75px;
}

.interest-rate-input-field {
  width: 100px;
}

.loan-amount-input-field {
  width: 175px;
}

.invalid {
  background-color: pink;
}

.faded {
  color: gray;
}

.radio {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio-circle {
  margin: 10px;
}

.input-night-mode {
  color: white;
  border: white 1px solid;
  background-color: black;
}

@media (max-width: 700px) {
  .input-text,
  .dollar-sign-display,
  .input-field {
    font-size: large;
  }
  .credit-score-input-field {
    width: 30px;
  }
  .interest-rate-input-field {
    width: 50px;
  }
  .loan-amount-input-field {
    width: 90px;
  }
  .input {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
