.interest-display {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.center {
  text-align: center;
}

.year-group h1 {
  font-size: 30px !important;
}

.year-group h3 {
  font-size: 25px !important;
}

.year-group {
  padding: 10px;
  border: white 1px solid;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
