.night-mode-switch-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
}

.night-mode-switch {
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.night-mode-switch.night {
  border: white 1px solid;
  background-color: white;
  /* padding-top: -20px; */
}

.night-mode-switch.day {
  border: black 1px solid;
  background-color: black;
}

.night-mode-switch-text {
  margin: 0px;
  font-size: 40px;
  width: 40px;
  height: 40px;
  margin-top: -15px;
  margin-left: 1px;
}

.night-mode-switch-text.day {
  margin-top: -10px;
  color: white;
}

.night-mode-switch-text.night {
  margin-top: -17px;
  color: black;
}
